:root {
    --color-primary: #1c1c1f;
    --color-secondary: #202022;
    --color-tertiary: #1e1e21;
    --color-glass: rgba(31, 31, 31, 0.6);
    --color-scrollbar: #7289da;

    --color-bg: #1a1a1c;
    --color-backdrop: rgba(0, 0, 51, 0.4);

    --button-0: #7289da;
    --button-0-2: #7289da;
    --button-0-hover: #7289da;
    --button-0-2-hover: #7289da;

    --button-decline: #DA7289;
    --button-decline-2: #DA7289;
    --button-decline-hover: #DA7289;
    --button-decline-2-hover: #DA7289;

    --button-accept: #89DA72;
    --button-accept-2: #89DA72;
    --button-accept-hover: #89DA72;
    --button-accept-2-hover: #89DA72;

    --button-warning: #be4e20;
    --button-warning-2: #be4e20;
    --button-warning-hover: #be4e20;
    --button-warning-2-hover: #be4e20;

    --color-headline: #dddddd;
    --color-shadow: rgba(0, 0, 0, .4);
    --color-shadow-hover: #36393e;
    --color-shadow-highlight: rgba(33, 0, 255, 0.3);

    --color-dark: #364C62;
    --color-light: #F5F5F5;
    --font-family-primary: "Roboto Mono", monospace;
    --font-family-secondary: "Rubik Mono One", sans-serif;

    --color-font-primary: #ababab;
    --color-font-primary-hover: var(--color-font-primary);
    --color-font-primary-2: var(--color-font-primary);
    --color-font-primary-hover-2: var(--color-font-primary);

    --color-font-secondary: #ffffff;
    --color-font-secondary-hover: #ffffff;
    --color-font-secondary-2: #ffffff;
    --color-font-secondary-hover-2: #ffffff;

    --color-font-highlight: #7289da;
    --color-font-highlight-2: #a46ed4;
    --color-font-highlight-hover: #5d70b1;
    --color-font-highlight-hover-2: #744c94;

    --td: 100ms;
    --te: cubic-bezier(0.215, 0.61, 0.355, 1);
}

[data-theme="cyberpunk"] {
    --color-primary: #1c1c1f;
    --color-secondary: #202022;

    --color-bg: #fcec0c;
    --color-backdrop: rgba(0, 0, 51, 0.4);

    --button-0: #7289da;
    --button-0-2: #7289da;
    --button-0-hover: #7289da;
    --button-0-2-hover: #7289da;

    --button-decline: #DA7289;
    --button-decline-2: #DA7289;
    --button-decline-hover: #DA7289;
    --button-decline-2-hover: #DA7289;

    --button-accept: #89DA72;
    --button-accept-2: #89DA72;
    --button-accept-hover: #89DA72;
    --button-accept-2-hover: #89DA72;

    --color-headline: #136377;
    --color-shadow: rgba(0, 0, 0, .4);
    --color-shadow-hover: #36393e;
    --color-shadow-highlight: rgba(33, 0, 255, 0.3);

    --color-dark: #364C62;
    --color-light: #F5F5F5;
    --font-family-primary: "Roboto Mono", monospace;
    --font-family-secondary: "Rubik Mono One", sans-serif;

    --color-font-primary: #d1c5c0;
    --color-font-primary-hover: var(--color-font-primary);
    --color-font-primary-2: var(--color-font-primary);
    --color-font-primary-hover-2: var(--color-font-primary);

    --color-font-secondary: #ffffff;
    --color-font-secondary-hover: #ffffff;
    --color-font-secondary-2: #ffffff;
    --color-font-secondary-hover-2: #ffffff;

    --color-font-highlight: #7289da;
    --color-font-highlight-2: #7289da;
    --color-font-highlight-hover: #5d70b1;
    --color-font-highlight-hover-2: #5d70b1;

    --td: 150ms;
    --te: cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
    margin: 0;
    font-size: 3vmin;
    font-family: "Roboto", sans-serif;
    color: var(--color-font-primary);
    background-color: var(--color-bg);
    position: relative;
}

.chatwindow {
    display: flex;
    gap: 3%;
    flex-direction: row;
    margin-top: 2rem;
    width: 90%;
    height: 90%;

    transition: all 250ms ease;
    background-color: var(--color-primary);
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .4);
    border-radius: 6px;
    text-align: center;
    padding: 2rem;
}

.chatside{
    height: 100%;
    width: 25%;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .4);
    background-color: var(--color-secondary);
}

.chat{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #161F27;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .4);
    border-radius: 6px;
    padding: 0.2rem;
    height: 5rem;
}

.selectedChat {
    background-color: var(--color-dark);
}

.chat .name{
    text-align: left;
}

.chat .lastmsg{
    text-align: left;
    margin-left: 2rem;
    color: var(--color-font-highlight);
}

.chatsbar{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    height: 96%;
    padding: 1rem;
    overflow: scroll;
    overflow-x: hidden;
}

.chattingwindow {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 73%;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .4);
    background-color: var(--color-secondary);
}

.chatmessagewindow {
    margin-left: 5%;
    width: 90%;
    height: 80%;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .4);
    background-color: var(--color-tertiary);

    display: flex;
    flex-direction: column-reverse;

    padding: 1rem;
    overflow: scroll;
    overflow-x: hidden;
}

.chatmessagewindowbottombar{
    height: 10%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.msg {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.msg .date {
    margin-left: 0.3rem;
    align-self: flex-end;
    font-size: 1.3vmin;
}

.message{
    justify-content: right;
    justify-self: right;
}

.messageself{
    width: 98%;
    justify-content: left;
    justify-self: left;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--color-shadow);
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-scrollbar);
    background-image: -webkit-linear-gradient(90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent)
}

button {
    transition: 250ms ease;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: linear-gradient(to right, var(--button-0), var(--button-0-2));
    border-radius: 5px;
    font-size: 2.5vmin;
    padding: 0.8vmin 1.4vmin;
    width: fit-content;
}

button:hover {
    background: linear-gradient(to right, var(--button-0-hover), var(--button-0-2-hover));
    border-radius: 10px;
    box-shadow: 0 1rem .6rem var(--color-shadow-highlight);
    transform: translate(0, -.4rem);
}

.button_row {
    display: flex;
    overflow: hidden;
    transition: all 250ms ease;
    background-color: var(--color-primary);
    margin: 3em 5vmax auto;
    box-shadow: 0 2px 30px 0 var(--color-shadow);
    border-radius: 6px;
    padding: 4vmin 10vmin;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    row-gap: 2vmin;
}

.button_row:hover {
    border-radius: 2rem;
}

.subText {
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

.sideNote {
    margin: auto;
    vertical-align: middle;
    text-align: center;
    max-width: 500px;
}

.separator {
    margin: auto;
    height: 1px;
    width: 100%;
    background: #1c1c1c;
    border: 0;
    box-shadow: 0 2px 0 var(--color-shadow);
    margin-top: 4vmin;
    margin-bottom: 4vmin;
}

.bottom {
    margin-top: 6rem;
    margin-bottom: 0;
}

.footer {
    justify-content: end;
    width: 100%;
    height: 4em;
}

.footer a {
    text-decoration: none;
    margin: 10px;
    text-align: left;
}

.footer a:hover {
    color: var(--color-font-primary-hover);
}

.footer h1 {
    margin: 5px;
}

.footer p {
    margin: 5px;
}

.knockout {
    transition: all 250ms ease;
    //background: url(/assets/img/bg.jpg) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    font-size: 15vmin;
    font-family: arial, helvetica;
    margin: auto;
    max-width: fit-content;
    padding: 1vmin 5vmin;
    margin-top: 0.4em;
    text-align: center;
    box-shadow: 0 2px 60px 0 var(--color-shadow);
    border-radius: 8px;
}

.knockout:hover {
    border-radius: 2rem;
    box-shadow: 0 2px 60px 0 var(--color-shadow-hover);
}

.advice {
    transition: all 250ms ease;
    background-color: var(--color-primary);
    margin: auto;
    margin-top: 3em;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .4);
    border-radius: 6px;
    width: fit-content;
    text-align: center;
    padding: 2rem;
}

.advice:hover {
    border-radius: 2rem;
    box-shadow: 0 2px 30px 0 var(--color-shadow-hover);
}

.advice a {
    text-decoration-style: solid;
    background: linear-gradient(150deg, var(--color-font-highlight), var(--color-font-highlight-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.textview {
    transition: all 250ms ease;
    background-color: var(--color-primary);
    margin: 3em 5vmax auto;
    box-shadow: 0 2px 30px 0 var(--color-shadow);
    border-radius: 6px;
    text-align: center;
    padding: 2vmin 20vmin;
}

.textview:hover {
    border-radius: 2rem;
}

.textview .text {
    margin-bottom: 2em;
}

.textview .headline {
    transition: all 250ms ease;
    display: block;
    font-size: 7vmin;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background: var(--color-secondary);
    box-shadow: 0 2px 19px 0 var(--color-shadow);
    color: var(--color-headline);
    border-radius: 6px;
    padding: 2vmin 6vmin;
}

.textview .headline:hover {
    border-radius: 2rem;
    box-shadow: 0 2px 30px 0 var(--color-shadow-hover);
}

.textview ul {
    text-align: left;
    margin: initial;
    list-style: inside;
    display: inline-block;
    list-style-position: inside
}

.textview .link {
    transition: all 250ms ease;
    background: linear-gradient(150deg, var(--color-font-highlight), var(--color-font-highlight-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textview .link:hover {
    background: linear-gradient(150deg, var(--color-font-highlight-hover), var(--color-font-highlight-hover-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textview .special {
    background: linear-gradient(150deg, #ee8f2b, #e5ca2d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8vmin;
}

.post {
    margin: auto;
    margin-top: 3em;
    box-shadow: 0 2px 40px 0 var(--color-shadow);
    border-radius: 9px;
    width: fit-content;
    text-align: center;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    width: 50%;
    margin-top: 1.5rem;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--color-font-primary);
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--color-font-highlight), var(--color-font-highlight-2));
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--color-font-highlight-2);
    font-weight: 700;
}


/* reset input */

.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.fixedBtn {
    position: fixed;
    top: 1rem;
    right: 7rem;
}

.denyBtn {
    background: linear-gradient(to right, var(--button-decline), var(--button-decline-2));
}

.denyBtn:hover {
    background: linear-gradient(to right, var(--button-decline-hover), var(--button-decline-2-hover));
    box-shadow: 0 1rem .6rem var(--button-decline-hover);
}

.acceptBtn {
    background: linear-gradient(to right, var(--button-accept), var(--button-accept-2));
}

.acceptBtn:hover {
    background: linear-gradient(to right, var(--button-accept-hover), var(--button-accept-2-hover));
    box-shadow: 0 1rem .6rem var(--button-accept-hover);
}

.warnBtn {
    background: linear-gradient(to right, var(--button-warning), var(--button-warning-2));
}

.warnBtn:hover {
    background: linear-gradient(to right, var(--button-warning-hover), var(--button-warning-2-hover));
    box-shadow: 0 1rem .6rem var(--button-warning-hover);
}

dialog {
    width: 100%;
    background-color: var(--color-backdrop);
    border-color: transparent;
    color: var(--color-font-primary);
}

dialog[open] {
    -webkit-animation: show 0.5s ease normal;
}

dialog.hide {
    -webkit-animation: hide 0.5s ease normal;
}

@-webkit-keyframes show {
    from {
        transform: translateY(-110%);
    }
    to {
        transform: translateY(0%);
    }
}

@-webkit-keyframes hide {
    to {
        transform: translateY(-110%);
    }
}

dialog::backdrop {
    background-color: var(--color-backdrop);
}

img {
    border-radius: 8px;
    height: 20vmin;
    width: auto;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.windowcenter {
    margin-top: 1%;
    margin-left: 1%;
    width: 98%;
    height: 97%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.material-icons {
    cursor: pointer;
    font-size: 1.5vmax !important;
}

@-moz-document url-prefix() {
    .advice {
        width: -moz-fit-content;
    }

    button {
        width: -moz-fit-content;
    }

    .knockout {
        width: -moz-fit-content;
    }
}

@media only screen and (max-width: 1367px) {
    body {
        font-size: 2vmax;
    }

    .chatmessagewindow {
        margin-left: 2%;
        width: 86%;
        height: 80%;
    }

    .windowcenter {
        margin-top: 5%;
        margin-left: 1%;
        width: 98%;
        height: 90%;
    }

    .chatwindow {
        padding: 0.5rem;
        height: 100%;
    }

    .chattingwindow{
        width: 100%;
    }

    .chatside {
        width: 100%;
    }

    .chatHidden {
        display: none;
    }

    .advice {
        width: 90%;
        margin: 0;
    }

    .center {
        height: 80%;
        justify-items: center;
        justify-content: center;
    }

    .sendChatButton{
        margin-left: 10%;
    }

    .chatmessagewindowbottombar {
        width: 90%;
    }

    button {
        font-size: 2.5vmax;
        padding: 0.8vmax 1.4vmax;
    }

    .fixedBtn {
        left: -80vmin;
        top: 4rem;
        right: 0;
    }

    .chatBackButton {
        display: block;
    }
}